.ReservesPage {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ReservesPageLink {
  max-width: 16rem;
  padding: 2rem;
}

.ReservesPageLogo {
  height: auto;
  transition: filter 100ms ease-in-out, transform 100ms ease-in-out;
  user-select: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
}

.ReservesPageLogo:hover {
  filter: var(--dropshadow-large);
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .ReservesPageLink {
    max-width: 14rem;
    padding: 1.5rem;
  }
}
