.FishInfoHooks {
  border-radius: 0.2em;
  display: grid;
  grid-gap: 0.25em;
  grid-template-columns: repeat(14, 1fr);
  user-select: none;
  width: 100%;
}

.FishInfoHooksCell {
  background-color: var(--color-bg-dark);
  background-position: center;
  border-radius: 0.2em;
  color: var(--font-color-muted);
  font-weight: var(--font-weight-bold);
  line-height: 1.8;
  text-align: center;
}

.FishInfoHooksCellBronze {
  background: var(--color-rank-bronze);
  background: linear-gradient(
      180deg,
      var(--color-rank-bronze-dark) 0%,
      var(--color-rank-bronze) 100%);
  color: var(--font-color);
}

.FishInfoHooksCellSilver {
  background: var(--color-rank-silver);
  background: linear-gradient(
      180deg,
      var(--color-rank-silver-dark) 0%,
      var(--color-rank-silver) 100%);
  color: var(--font-color);
}

.FishInfoHooksCellGold {
  background: var(--color-rank-gold);
  background: linear-gradient(
      180deg,
      var(--color-rank-gold-dark) 0%,
      var(--color-rank-gold) 100%);
  color: var(--font-color);
}

.FishInfoHooksCellDiamond {
  background: var(--color-rank-diamond);
  background: linear-gradient(
      180deg,
      var(--color-rank-diamond-dark) 0%,
      var(--color-rank-diamond) 100%);
  color: var(--font-color);
}

.FishInfoHooksCellLegendary {
  background: var(--color-rank-legendary);
  background: linear-gradient(
      180deg,
      var(--color-rank-legendary-dark) 0%,
      var(--color-rank-legendary) 100%);
  color: var(--font-color);
}

@media (max-width: 1023px) {
  .FishInfoHooks {
    grid-template-columns: repeat(7, 1fr);
  }
}

@media (max-width: 767px) {
  .FishInfoHooks {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 575px) {
  .FishInfoHooks {
    grid-template-columns: repeat(4, 1fr);
  }
}
