.FishesPageNoResults {
  align-items: center;
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  user-select: none;
}

.FishesPageNoResultsMessage {
  margin-top: 0.5em;
}
