@keyframes SpinnerRotation {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.Spinner {
  animation: SpinnerRotation normal 1s infinite linear;
  display: block;
}
