.FishInfoHeader {
  align-items: center;
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: 1fr 1fr;
}

.FishInfoHeaderDescription {
  order: 2;
}

.FishInfoHeaderImage {
  filter: var(--dropshadow-large);
  height: auto;
  max-width: 100%;
  order: 1;
  user-select: none;
  width: 100%;
  -webkit-user-drag: none;
}

.FishInfoHeaderTitle {
  color: var(--color-primary);
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: center;
}

@media (max-width: 1023px) {
  .FishInfoHeader {
    grid-gap: 1rem;
    grid-template-columns: 1fr;
  }

  .FishInfoHeaderDescription {
    order: 1;
  }

  .FishInfoHeaderImage {
    order: 2;
  }
}
