@keyframes kfFishGridItemImage {
  50% {
    transform: scale(1.03);
  }
}

.FishGridItem {
  align-items: center;
  aspect-ratio: 1/1;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
}

.FishGridItemImage {
  filter: var(--dropshadow-medium);
  height: 100%;
  margin-top: -0.5em;
  transition: transform 500ms ease-in-out;
  width: 100%;
}

.FishGridItem:hover .FishGridItemImage {
  animation: kfFishGridItemImage normal 1s infinite ease-in-out;
  /*transform: scale(1.03);*/
}

.FishGridItemLabel {
  background-color: var(--color-bg-dark);
  color: var(--font-color);
  font-size: 0.9em;
  font-weight: var(--font-weight-semibold);
  line-height: 1.2;
  position: absolute;
  bottom: 0.125rem;
  left: 0.125rem;
  padding: 0.5em;
  right: 0.125rem;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;
}

.FishGridItemLabelLegendary {
  color: var(--color-primary);
}
