.Body {
  background: var(--color-bg-dark);
  color: var(--font-color);
  cursor: default;
  display: flex;
  flex-direction: column;
  font-weight: var(--font-weight-regular);
  height: 100vh;
  letter-spacing: var(--font-letter-spacing);
  line-height: var(--font-line-height);
  overflow: hidden;
}

.Page {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}
