.ReserveFishGrid + .ReserveFishGrid {
  margin-top: 2rem;
}

.ReserveFishGridHeader {
  background: radial-gradient(ellipse at bottom center, var(--color-bg-dark) 0%, transparent 60%);
  font-size: 1.8em;
  margin-bottom: 0.5em;
  user-select: none;
}

.ReserveFishGridTitle {
  color: var(--color-primary);
  font-size: inherit;
  margin: 0;
  padding: 0.5em;
  text-align: center;
}

.ReserveFishGridTitleCount {
  color: var(--font-color-muted);
  font-size: 0.75em;
  font-weight: var(--font-weight-regular);
  margin-left: 0.5em;
}

@media (max-width: 1023px) {
  .ReserveFishGrid:first-child .ReserveFishGridTitle {
    padding-top: 0;
  }
}
