.Header {
  align-items: center;
  background: var(--color-bg-dark);
  display: grid;
  filter: var(--dropshadow-default);
  grid-template-columns: 200px 1fr 200px;
  padding: 0 1em;
  z-index: 15;
}

.HeaderLogo {
  line-height: 1;
  overflow: hidden;
}

.HeaderSearch {
  display: flex;
  justify-content: center;
  padding: 0 2rem;
}

@media (max-width: 839px) {
  .Header {
    grid-template-columns: 0 1fr 0;
    padding: 0;
  }

  .HeaderSearch {
    padding: 0;
  }
}
