.FishFilterPanel {
  background-color: var(--color-bg-light);
  border-left: thin solid var(--color-border-dark);
  display: flex;
  filter: var(--dropshadow-medium);
  flex-direction: column;
  height: 100%;
  max-width: 20rem;
  overflow: hidden;
  user-select: none;
  z-index: 10;
}

.FishFilterPanelActions {
  background-color: var(--color-bg-dark-lighter);
  border-top: thin solid var(--color-border-dark);
  padding: 0.5em;
}

.FishFilterPanelAction {
  width: 100%;
}

.FishFilterPanelContent {
  background: linear-gradient(
      0deg,
      var(--color-bg-dark) 0%,
      var(--color-bg-dark-transparent) 50%,
      var(--color-bg-dark) 100%);
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.FishFilterPanelHeading {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  font-weight: var(--font-weight-semibold);
  justify-content: space-between;
  margin: 0;
  padding: 0.5em 1em;
  text-align: center;
  text-transform: uppercase;
}

.FishFilterPanelHeadingIcon {
  cursor: pointer;
  font-size: 1.2em;
}

.FishFilterPanelHeadingIcon:hover {
  fill: var(--color-primary);
}

.FishFilterPanelOptions {
  display: flex;
  flex-wrap: wrap;
  margin: -0.25em;
}

.FishFilterPanelOptionsWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-x: hidden;
  padding: 1rem;
}

.FishFilterPanelOption {
  background-color: var(--color-bg-dark);
  border: thin solid var(--color-border-dark);
  border-radius: 0.25em;
  color: var(--font-color-muted);
  cursor: pointer;
  font-size: 0.85em;
  font-weight: var(--font-weight-semibold);
  margin: 0.2em;
  min-width: 3em;
  padding: 0.25em 0.5em;
  text-align: center;
}

.FishFilterPanelOption:hover {
  border-color: var(--color-border);
}

.FishFilterPanelOptionSelected {
  background-color: var(--color-bg-light);
  border-color: var(--color-border);
  color: var(--color-primary);
}

.FishFilterPanelOptionHeading {
  border-bottom: thin solid var(--color-border-dark);
  color: var(--color-primary);
  font-weight: var(--font-weight-semibold);
  margin: 1em 0 0.5em;
}
