.FishInfoDetails {
  align-items: flex-start;
  display: grid;
  grid-column-gap: 1.5em;
  grid-row-gap: 0.5em;
  grid-template-columns: 1fr 1fr;
}

.FishInfoDetailsGroup {
  display: grid;
  grid-row-gap: 1em;
}

@media (max-width: 767px) {
  .FishInfoDetails {
    grid-row-gap: 1em;
    grid-template-columns: 1fr;
  }

  .FishInfoDetailsGroup {
    grid-row-gap: 1em;
  }
}
